html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__left {
    float: left;
    padding: 0px;
}

.header__right {
    float: right;
    margin: 15px;
}

.header::after {
    content: " ";
    display: block;
    clear: both;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

ul a {
    color: black;
    text-decoration: none;
    margin-left: 0.75em;
    margin-right: 0.75em;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

.header__right--appicon {
    vertical-align: middle;
    opacity: 0.5;
}

.header__right--appicon:hover {
    opacity: 1;
}

.header__right--button {
    color: white;
    background-color: #4285F4;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    font-weight: bold;
}

.header__right--button:hover {
    cursor: pointer;
    box-shadow: inset 0 2px rgba(0, 0, 0, 0.15);
}

.main__logo {
    width: 272px;
    height: 92px;
    display: block;
    margin: 198px auto 0;
}

.main__search-bar {
    border: 1px solid lightgray;
    width: 582px;
    height: 44px;
    border-radius: 25px;
    margin: 28px auto;
}

.main__search-bar--magnify {
    height: 22px;
    width: 22px;
    border: none;
    outline: none;
    position: relative;
    top: 10px;
    left: 8px;

}

.main__search-bar--input {
    height: 34px;
    width: 490px;
    margin-left: 10px;
    border: none;
    outline: none;
    position: relative;
    top: 4px;
    font-size: 16px;
}

.main__search-bar--microphone {
    height: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

.main__btn-container {
    text-align: center;
}

.main__btn-container--left,
.main__btn-container--right {
    height: 36px;
    min-width: 120px;
    background-color: #EFEFEF;
    border: 1px solid #F8F8F8;
    border-radius: 4px;
    color: #5f6368;
}

.main__btn-container--left:hover,
.main__btn-container--right:hover {
    color: black;
    border: 1px solid lightgray;
    cursor: pointer;
    box-shadow: 0.7px 0.7px 0.7px lightgray;
}

.main__language {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.main__language a {
    text-decoration: none;
}

.footer {
    position: fixed;
    /* bottom: 0; */
    background-color: #F2F2F2;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    
}

.footer__country {
    padding-left: 13px;
    color: #5F6368;
    border-bottom: 1px solid #E4E4E4;
}

.footer a {
    color: #5F6368;
}

.footer__left {
    float: left;
    padding: 0;
    margin-left: 4px;
}

.footer__right {
    float: right;
    margin-right: 25px;
}